*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    z-index: 100;
}
.navbar{
    /* background: linear-gradient(to left,black,#31082e); */
    background: transparent;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}



.navbar__container{
    display: flex;
    float: left;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 0px;
    overflow: hidden;

}
.profile {
    display: flex;
    align-items: start;
    float: left;
    padding: 30px;


  }
  #time {
    top: 30px;
     /* Adjust this value to move the time further right */
    font-size: 20px;
    color: white;
    position: relative;
    display: flex;
    align-items: end;
    float: right;
  }
  #wifi-logo{
    scale: 3;
    height: 100px;
    width: 100px;
    position: relative;
    display: flex;
    align-items: end;
    float: right;



}
#profile-pic{
    scale: .17;
    margin-top: -140px;
    margin-left: -220px;
    /* margin-bottom: 100px; */
    clip-path: circle(35% at 50% 50%);
    position: relative;
}

#navbar__logo{
    /* background-color: white; */
    /* background-image: linear-gradient(to left, white 0%, #133e7c 100%);
    background-size: 100%; */
    /* -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
     */
     -webkit-text-fill-color: #fff;
    display: flex;
    align-items: start;
    margin-left: -225px;
    margin-top: -20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
}
/* 
.name{
    padding-left: %;
} */

.trophy-logo{
    width: 30px;
    height: 30px;
}

.friend-logo{
    width: 30px;
    height: 30px;
    filter: invert(97%) sepia(34%) saturate(0%) hue-rotate(350deg) brightness(106%) contrast(102%);
    

}
.info-logo{
    background-color: white;
    width: 30px;
    height: 30px;
    filter: invert(97%) sepia(34%) saturate(0%) hue-rotate(350deg) brightness(106%) contrast(102%);




}

.navbar__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:-350px;
    list-style: none;

    
}

.navbar__item {
    height: 80px;
    width: 100px;
    align-items: center;
    padding: 10px;
    /* float: right; */
    /* background-color: white; */
}

.time-div{
    background-color: transparent;
    position: relative;
    
}
#time{

    text-decoration: none;
}
.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}


/* .navbar__time {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
} */

.navbar__links:hover {
    color: #9518fc;
    transition: all 0.3s ease;
}

body{
    min-height: 100vh;
    background: black;

}
.container
{
    position: relative;
    padding-top: 10%;
    width: 100%;
    height: 100vh;
    
}

.bubbles{
    position: relative;
    display: flex;
    z-index: 200;
}
.bubbles span
{
    position: relative;
    width: 100px;
    height: 30px;
    
    background: #4fc3dc;
    margin: 0 2px;
    border-radius: 50%;
    box-shadow:  0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 50px #4fc3dc;


    /* Changes the speed/movement of the animation */
    animation: animate 15s linear infinite;
    animation-duration: calc(125s/ var(--i));
    animation-iteration-count: infinite;


}

.bubbles span:nth-child(even)
{
    background: lightgray;
    box-shadow:  0 0 0 10px gray,
    0 0 50px lightgray,
    0 0 50px lightgray;
}

/* makes the bubbles from small to big, starting from scale 0 to 1 */
@keyframes animate {
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-100vh) scale(0.2);
    }
    
}


.menu{
    background-color: transparent;
    height: 150px;
}

.menu-item {
    color: black;
    display: inline-block;
    align-items: center;
    justify-content: center;
    /* box-sizing: border-box; */
    /* opacity: 10%; */
    /* text-shadow: red 2px 0 10px; */
    color: white;
    width: 150px;
    border: solid #5B6DCD 10px;
    padding: 5px;
}